@include component(fc-primary) {
	color: $theme-primary;
}

@include component(fc-secondary) {
	color: $theme-secondary;
}

@include component(fc-default) {
	color: $theme-default;
}

@include component(fc-red) {
	color: $theme-red;
}

@include component(fc-yellow) {
	color: $theme-yellow;
}

@include component(fc-white) {
	color: $theme-white;
}

@include component(fc-black) {
	color: $theme-black;
}

@include component(fc-grey) {
	color: $theme-grey;
}

@include component(fc-spgrey) {
	color: $theme-sp-grey;
}

@include component(fc-dgrey) {
	color: $theme-dk-grey;
}

@include component(fc-lgrey) {
	color: $theme-lg-grey;
}

@include component(bg-primary) {
	background: $theme-primary;
}

@include component(bg-secondary) {
	background: $theme-secondary;
}

@include component(bg-default) {
	background: $theme-default;
}

@include component(bg-red) {
	background: $theme-red;
}

@include component(bg-yellow) {
	background: $theme-yellow;
}

@include component(bg-white) {
	background: $theme-white;
}

@include component(bg-black) {
	background: $theme-black;
}

@include component(bg-grey) {
	background: $theme-grey;
}

@include component(bg-lgrey) {
	background: $theme-lg-grey;
}

@include component(bg-spgrey) {
	background: $theme-sp-grey;
}