@include component(alert) {
	position:relative;
	@include rem-spacing(padding, 12, 18);
	@include rem-spacing (margin-bottom, 16);
	border:1px solid transparent;
	border-radius: 6px;

	@include option(alert-success) {
		color: #28623c;
	    background-color: #dbf2e3;
	    border-color: #cdedd8;
	}

	@include option(alert-danger) {
		color: #813838;
	    background-color: #fee2e1;
	    border-color: #fdd6d6;
	}
}