@include component(box) {	
	
	@include option(course-box) {
		height: 300px;
		max-width: 300px;
		background-size: cover;
		background-position: center;
		margin: 20px auto;
		position: relative;
		display: block;

		&:after{
		    @include gradient-vertical($theme-black, transparent);
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
			@include size(100%, 100%);
		}

		@include component(content) {
			position: absolute;
			bottom: 10px;
			left: 0;
			@include rem-spacing (padding, 0, 20);
			z-index: 2;
		    height: 66px;
		    overflow: hidden;
		    @include transition(1s);

			@include component(title) {
				color: $theme-white;
				text-transform: uppercase;
				text-shadow: 2px 2px $theme-black;
				//@include fontSize($font-size-h2 - 18px);
				line-height: 1.2;
				// margin-bottom: 10px;
			}

			@include component(desc) {
				color: $theme-white;
				//height: 126px;
				overflow: hidden;
			}
		}
	}

	@include option(course-btn-box) {
		@include rem-spacing (margin-bottom, 40);
		text-align: center;
	}

	@include option(small-course-box) {
		@include rem-spacing (margin, 20, 0);
		max-width: 420px;
		margin: 0 auto 40px;
		display: block;
		
		figure{
			@include size(100%, 240px);
			background-size: cover;
			background-position: center;
			border-radius: 10px;
		}

		@include component(title) {
			color: $theme-sp-grey;
			line-height: 1;
			@include fontSize($font-size-medium);
			font-weight: $font-weight-semi-bold;
			@include rem-spacing (margin, 14, 0, 0);
		}

		@include component(desc) {
			color: $theme-lg-grey;
			@include rem-spacing (margin, 6, 0);
		}

		@include component(date) {
			color: $theme-yellow;
			@include fontSize($font-size-small);
			letter-spacing: 0.6px;
		}
	}

	@include option(video-course-box) {

		@include component(title) {
			color: $theme-sp-grey;
			line-height: 1;
			@include fontSize($font-size-medium);
			font-weight: $font-weight-semi-bold;
			@include rem-spacing (margin, 14, 0, 0);
		}

		@include component(desc) {
			color: $theme-lg-grey;
			@include rem-spacing (margin, 6, 0);
		}

		@include component(date) {
			color: $theme-yellow;
			@include fontSize($font-size-small);
			letter-spacing: 0.6px;
		}
	}

	@include option(coach-box) {
		display: block;
		@include rem-spacing (margin, 20, 40, 40, 0);
		max-width: 120px;
		
		figure{
			@include size(120px, 120px);
			background-size: cover;
			background-position: center;
			border-radius: 10px;
			overflow: hidden;
			border: 1px solid $theme-grey;
		}

		@include component(name) {
			font-weight: $font-weight-semi-bold;
			@include rem-spacing (margin-top, 10);
			color: $theme-black;
		}
	}

	@include option(small-course-play) {
		@include rem-spacing (margin, 20, 0);
		border-bottom: 1px solid $theme-sp-grey;
		@include rem-spacing (padding-bottom, 20);
		position: relative;

		figure{
			@include size(68px, 68px);
			min-width: 68px;
			background-size: cover;
			background-position: center;
			@include rem-spacing (margin-right, 20);
			background-color: #eaeaf6;
			border-radius: 10px;
		}

		@include component(content) {
			width: calc(86% - 68px);
			@include opacity(0.3);

			@include component(title) {
				color: $theme-black;
				line-height: 1;
				font-weight: $font-weight-medium;
			}

			@include component(desc) {
				color: $theme-lg-grey;
				@include rem-spacing (margin, 6, 0, 0);
				@include fontSize($font-size-medium);
			}

		}

		@include component(time) {
			color: $theme-red;
			font-weight: $font-weight-bold;
			text-align: right;
			width: 14%;
			@include opacity(0.3);
		}

		@include component(overlay-box) {
			position: absolute;
			width: 100%;
			height: calc(100% - 20px);
			background-color: rgba($theme-sp-grey, 0.6);
			top: 0;
			left: 0;
			z-index: 6;
		}

		@include component(overlay-text) {
			position: absolute;
			top: 18px;
			left: 0;
			text-align: center;
			margin: auto;
			color: $theme-red;
			width: 100%;
			@include fontSize($font-size-large);
			font-weight: $font-weight-bold;
			z-index: 8;
		}
	}

	@include option(question-box) {
		@include rem-spacing (padding-bottom, 10);
		@include rem-spacing (margin-bottom, 10);
		border-bottom: 1px solid $theme-sp-grey;


		@include component(title) {
			color: $theme-sp-grey;
			line-height: 1;
			//@include fontSize($font-size-h4);
			font-weight: $font-weight-semi-bold;
			@include rem-spacing (margin, 14, 0, 0);
		}

		@include component(desc) {
			color: $theme-lg-grey;
			@include rem-spacing (margin, 6, 0);
			@include fontSize($font-size-medium);
		}
	}

	@include option(quiz-box) {
		@include rem-spacing (margin-bottom, 60);
		
		@include component(title) {
			color: $theme-sp-grey;
			line-height: 1;
			@include fontSize($font-size-medium);
			font-weight: $font-weight-semi-bold;
			//@include rem-spacing (margin, 0, 0, 0);
		}

		@include component(option-box) {
			border-radius: 30px;
			display: inline-block;
			@include transition(0.4s);
			@include fontSize($font-size-medium);
			// letter-spacing: 1px;
			cursor: pointer;
			border: none;
			font-weight: $font-weight-semi-bold;
			color: $theme-white;
			background-color: transparent;
			border: 1px solid;
			border-radius: 14px;
			@include rem-spacing (margin, 20, 20, 0, 0);
			position: relative;

			@include component(label) {
				@include rem-spacing(padding, 10, 30);
				display: block;
				border-radius: 14px;
			}


			&:nth-child(4n+1){
				border-color: $theme-orange;
			}

			&:nth-child(4n+2){
				border-color: $theme-red;
			}

			&:nth-child(4n+3){
				border-color: $theme-purple;
			}

			&:nth-child(4n+4){
				border-color: $theme-blue;
			}

			input[type=radio]{
				@include opacity(0);
				position: absolute;
				left: 0;
				top: 0;
				@include size(100%, 100%);
				z-index: 9;
				cursor: pointer;

				&:checked {
					& + .label{
						background: $theme-green;

						&:after{
							@include transform(scale(1));
							@include transition(all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9));
							@include opacity(1);
						}
					}
				}
			}

		}
	}

	@include option(payment-box) {
		border: 1px solid $theme-blue;
		@include rem-spacing (padding, 40, 0);
		text-align: center;
		border-radius: 14px;

		@include component(title) {
			text-transform: uppercase;
			font-weight: $font-weight-normal;
			@include rem-spacing (margin-bottom, 10);
			color: $theme-red;
		}

		@include component(price) {
			@include fontSize($font-size-medium);
			color: $theme-yellow;
			
			strong{
				display: block;
			}
		}

		@include component(date) {
			@include fontSize($font-size-medium);
			@include rem-spacing (margin, 10, 0, 20);
			
			strong{
				display: block;
			}
		}
	}
}