@include component(btn) {
	border-radius: 30px;
	@include rem-spacing(padding, 10, 30);
	display: inline-block;
	@include transition(0.4s);
	@include fontSize($font-size-medium);
	// letter-spacing: 1px;
	cursor: pointer;
	border: none;
	font-weight: $font-weight-semi-bold;
	

	@include option(btn-primary) {
		background: $theme-red;
		color: white;
	}

	@include option(btn-secondary) {
		background: $theme-secondary;
		color: white;
	}

	@include option(btn-white) {
		background: $theme-white;
		color: $theme-red;
	}
	@include option(btn-small) {
		@include rem-spacing(padding, 6, 10);
		@include fontSize($font-size-small);
	}

	@include option(btn-link) {
		@include rem-spacing(padding, 6, 10);
		@include fontSize($font-size-small);
		border-radius: 0;
		background-color: #eaeaf6;
		color: $theme-red;
	}

	@include option(btn-registration) {
		width: 100%;
		background-color: $theme-red;
		color: $theme-black;
		text-align: center;
		border-radius: 0;
		border-top-left-radius: 6px;
		border-bottom-left-radius: 6px;
	}

	@include option(btn-login) {
		width: 100%;
		background-color: $theme-yellow;
		color: $theme-black;
		text-align: center;
		border-radius: 0;
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
	}

	@include option(btn-submit) {
		background-color: $theme-yellow;
		min-width: 140px;
		border-radius: 6px;
		text-align: center;
		color: $theme-black;
	}

	@include option(btn-outline) {
		color: $theme-white;
		background-color: transparent;
		border: 1px solid;
		border-radius: 14px;
	}

	@include option(btn-zoom) {
		background-color: $theme-blue;
		color: $theme-white;
	}

	@include option(btn-orange) {
		border-color: $theme-orange;
	}

	@include option(btn-red) {
		border-color: $theme-red;
	}

	@include option(btn-purple) {
		border-color: $theme-purple;
	}

	@include option(btn-blue) {
		border-color: $theme-blue;
	}

	@include option(btn-green) {
		border-color: $theme-green;
	}

	&:hover{
		@include opacity(0.8);
	}
}