@include component(sec-padding) {
	@include rem-spacing(padding, 120, 0);
	
	@media (max-width:767px){
		@include rem-spacing(padding, 30, 0);
	}

	@include option(small) {
		@include rem-spacing(padding, 40, 0);
	}

	@include option(xsmall) {
		@include rem-spacing(padding, 30, 0);
	}
}

@include component(registration-layout) {
	@include size(100%, 100%);
	min-height: 100vh;
	position: relative;

	@include component(form-header) {
		@include rem-spacing (padding, 30, 0);
	}

	@include option(fixed) {
		display: flex;

		@include component(form-header) {
			@include rem-spacing (margin-bottom, 20);
			position: absolute;
			top: 6%;
			left: 0;
			right: 0;
			margin: 0 auto;
		}
		
		@include component(primary-footer) {
			position: absolute;
			@include rem-spacing (margin-top, 0);
		}
	}
}

@include component(form-container) {
	max-width: 420px;
	@extend .m-auto;
	@include rem-spacing (padding, 0, 20);
}

@include component(form-title) {
	color: $theme-yellow;
	@include rem-spacing (margin, 20, 0, 30);
	letter-spacing: 1px;
	line-height: 1.2;
	text-transform: uppercase;
}

// Dashboard Section
@include component(dashboard-layout) {

	
	@include component(dashboard-header) {
		@include size(100%, 200px);
		border-bottom-right-radius: 30px;
		border-bottom-left-radius: 30px;

		@include component(container) {
			position: relative;
			height: 100%;
		}

		@include component(header-content) {
			position: absolute;
			bottom: 12%;
			left: 15px;
			right: 15px;
			line-height: 1.2;

			@include component(title) {
				color: $theme-white;
				font-family: $base-font-family;
			}

			@include component(desc) {
				color: $theme-white;
				@include fontSize($font-size-medium);
			}
		}
	}

	@include component(dashboard-footer) {
		position: relative;
		text-align: center;
		color: $theme-white;
		@include rem-spacing (padding, 20);
		@include rem-spacing (margin-top, 30);
		border-top: 1px solid $theme-sp-grey;

		@include option(course) {
			text-align: left;
			position: fixed;
			width: 100%;
			bottom: 0;
			left: 0;
			background-color: rgba($theme-black, 0.8);
			z-index: 12;
			@include rem-spacing (margin-top, 0);
			
			@include component(detail) {
				display: flex;
				align-items: center;
				
				@include component(price) {
					font-weight: $font-weight-bold;
					width: 50%;
				}

				@include component(buy-now) {
					width: 50%;
					text-align: right;
				}
			}
		}
	}
}

@include component(dashboard-body) {
	@include rem-spacing (padding, 40, 0);
	min-height: calc(100vh - 73px);

	@include component(maintitle) {
		@include fontSize($font-size-large);
		font-weight: $font-weight-semi-bold;
		color: $theme-red;
	}

	@include option(course) {
		@include rem-spacing (padding-bottom, 80);
	}
}

@include component(not-paid-user) {
	
	@include component(box) {
		
		&:first-child{

			@include component(content) {
				@include opacity(1);
			}

			@include component(time) {
				@include opacity(1);
			}

			@include component(overlay-box) {
				display: none;
			}

			@include component(overlay-text) {
				display: none;
			}
		}
	}
}

// Social Media Footer
@include component(social-media-footer) {
	@extend .nomar;

	li{
		@include rem-spacing (margin, 0, 20);

		a{
			color: $theme-white;
			@include fontSize($font-size-h5);
		}
	}
}

@include component(dashboard-course-list) {
	@include component(box) {
		@include component(btn) {
			min-width: 280px;
		}
	}
	
	[class*='col-'] {
		
		&:nth-child(5n+1){
			@include component(btn) {
				border-color: $theme-orange;
			}
		}

		&:nth-child(5n+2){
			@include component(btn) {
				border-color: $theme-red;
			}
		}

		&:nth-child(5n+3){
			@include component(btn) {
				border-color: $theme-purple;
			}
		}

		&:nth-child(5n+4){
			@include component(btn) {
				border-color: $theme-blue;
			}
		}

		&:nth-child(5n+5){
			@include component(btn) {
				border-color: $theme-green;
			}
		}
	}
}