@include component(primary-footer) {
	position: relative;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	color: $theme-white;
	@include rem-spacing (padding, 20);
	background-color: $theme-dk-grey;

	@include option(border) {
		border-top: 1px solid $theme-sp-grey;
	}
}