/**** Form Styling Default ****/
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background: transparent !important; }
input::-webkit-input-placeholder {
	color: $theme-sp-grey; }
input:-moz-placeholder {
	color: $theme-sp-grey; }
input::-moz-placeholder {
	color: $theme-sp-grey; }
input:-ms-input-placeholder {
	color: $theme-sp-grey; }
input:-internal-autofill-selected{
	background-color: transparent !important; }
textarea::-webkit-input-placeholder {
	color: $theme-sp-grey; }

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	-moz-appearance:textfield;
}


@include component(default-form) {

	@include component(control-group) {
		@include rem-spacing(margin-bottom, 20);
		position: relative;

		@include component(form-field) {
			color: $theme-sp-grey;
			@include rem-spacing(padding, 10, 16);
			@include size(100%, 40px);
			border: 1px solid $theme-yellow;
			//border: none;
			border-radius: 6px;
			box-shadow: none;
			-webkit-appearance: none;
			position: relative;
			z-index: 4;
			background-color: transparent;
		}

		textarea {
			resize: none;
			min-height: 180px;
		}

		@include component(form-button) {
			-webkit-appearance: none;
		}

		@include component(codearea) {
			float: left;
			width: 28%;
			position: relative;
		}

		@include component(numberarea) {
			float: right;
			width: 70%;
			position: relative;
			input{
				@include rem-spacing(padding-left, 10);
			}
		}

		@include component(checkbox) {
			position: relative;
			cursor: pointer;
			line-height: 20px;

			@include component(label) {
				position: relative;
				display: block;
				float: left;
				@include rem-spacing(margin, 0, 10, 10, 0);
				@include size(18px, 18px);
				border: 2px solid $theme-yellow;
				-webkit-tap-highlight-color: transparent;
				top: 2px;

				&:after {
					content: '\2714';
					position: absolute;
					top: 0px;
					left: 2px;
					@include size(10px, 10px);
					color: $theme-primary;
					//@include fontSize($font-size-medium);
					text-align: center;
					line-height: 1;
					@include transform(scale(0));
					@include transition(0.2s);
					@include opacity(0.08);
					pointer-events: none;
					color: $theme-yellow;
				}
			}

			input[type=checkbox]{
				@include opacity(0);
				position: absolute;
				left: 0;
				top: 0;
				@include size(18px, 24px);
				z-index: 9;

				&:checked {
					& + .label{
						border-color: $theme-yellow;

						&:after{
							@include transform(scale(1));
							@include transition(all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9));
							@include opacity(1);
						}
					}
				}
			}
		}

		@include component(radiobox) {
			position: relative;
			cursor: pointer;
			line-height: 20px;

			@include component(label) {
				position: relative;
				display: block;
				float: left;
				top: 4px;
				margin-right: 10px;
				@include size(18px, 18px);
				border: 2px solid $theme-primary;
				border-radius: 100%;
				-webkit-tap-highlight-color: transparent;

				&:after {
					content: '';
					position: absolute;
					top: 3px;
					left: 3px;
					@include size(10px, 10px);
					border-radius: 100%;
					background: $theme-primary;
					@include transform(scale(0));
					@include transition(0.2s);
					@include opacity(0.08);
					pointer-events: none;
				}
			}

			input[type=radio]{
				@include opacity(0);
				position: absolute;
				left: 0;
				top: 0;
				@include size(18px, 24px);
				z-index: 9;

				&:checked {
					& + .label{
						border-color: $theme-primary;

						&:after{
							@include transform(scale(1));
							@include transition(all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9));
							@include opacity(1);
						}
					}
				}
			}
		}

		@include component(form-label) {
			display: block;
			@include rem-spacing(margin-bottom, 4);
			@include fontSize($font-size-small + 1px);
			@include transition(0.4s);
			font-weight: $font-weight-bold;
			text-transform: uppercase;
			color: $theme-lg-grey;
		}

		@include component(error-field) {
			color: $theme-red;
			@include fontSize($font-size-small);
		}
	}

	@include component(addFileStyle) {
		background-color: #ccc;
		@include rem-spacing (padding, 6, 10);

		@include component(upldwrap) {
			position: relative;

			input[type=file] {
				position: absolute;
				left: 0;
				top: 0;
				@include size(100%, 100%);
				z-index: 10;
				cursor: pointer;
			}

			input[type=text] {
				width: 60%;
				height: auto;
				@include rem-spacing(padding, 8, 30);
			}
		}
	}

	@include option(animate-form) {
		
		@include component(control-group) {

			input {
				&[type=text], &[type=number], &[type=email], &[type=password], &[type=date] {
					background-color: transparent;
					border: none;
					border-bottom: 1px solid $theme-sp-grey;
					@include rem-spacing(padding, 10, 0);
				}
			}

			select, textarea{
				background-color: transparent;
				border: none;
				border-bottom: 1px solid $theme-sp-grey;
				@include rem-spacing(padding, 10, 0);
			}

			@include component(form-label) {
				position: absolute;
				left: 0px;
				top: 12px;
			}

			@include component(bar) {
			    position: relative;
			    display: block;

			    &:before, &:after{
		    	    content: '';
		    	    @include size(0px, 2px);
				    bottom: 1px;
				    position: absolute;
				    background: $theme-black;
				    @include transition(0.2s ease all);
			    }

			    &:before{
			    	left: 50%;
			    }

			    &:after{
			    	right: 50%;
			    }
			}

			@include component(form-field) {
				@include transition(0.4s);
				&:focus{
					border: none;
					& ~ .bar:before, & ~ .bar:after{
						width: 50%;
					}
				}
			}

			&.focused {
				@include component(form-label) {
					top: -6px;
					@include fontSize($font-size-small);
					color: $theme-black;
				}
				@include component(bar) {
					&:before, &:after{
						width: 50%;
					}
				}
			}
		}
	}

	@include option(registration-form) {
		@include rem-spacing (padding, 0, 30);
		@include rem-spacing (margin-top, -10);
	}

	@include option(login-form) {
		
		@include component(forget-text) {
			@include rem-spacing (margin-bottom, 10);
			text-align: right;
		}
	}
}