@include component(mobile-nav-btn) {
    display: inline-block;
    @include size(30px, 20px);
    z-index: 1000;
    color: $theme-white;
    @include transform(rotate(0deg));
    @include transition(.5s ease-in-out);
    cursor: pointer;

    @include component(lines) {
        display: block;
        position: absolute;
        @include size(100%, 2px);
        background: $theme-white;
        border-radius: 3px;
        @include opacity(1);
        left: 0;
        @include transform(rotate(0deg));
        @include transition(.25s ease-in-out);

        &:nth-child(1){
            top: 1px;
            width: 80%;
        }

        &:nth-child(2), &:nth-child(3){
            top: 11px;
        }

        &:nth-child(4){
            top: 21px;
            width: 60%;
        }
    }

    &:hover{
        @include component(lines) {
            &:nth-child(1){
                width: 50%;
            }
            &:nth-child(4){
                width: 80%;
            }
        }
    }

    &.nav-active{
        @include component(lines) {
            &:nth-child(1), &:nth-child(4){
                top: 10px;
                width: 0%;
                left: 50%;
            }
            &:nth-child(2){
                @include transform(rotate(45deg));
            }
            &:nth-child(3){
                @include transform(rotate(-45deg));
            }
        }
    }

    .sticky &{
        @include rem-spacing (margin-top, 12);
    }

    &.mobile-btn{
        @include component(lines) {
            background: $theme-white;
        }
    }
}


@include component(mobile-navigation) {
    position: fixed;
    @include size(80%, 100%);
    top: 0;
    right: -80%;
    z-index: 8;
    background: $theme-yellow;
    @include transition(0.6s);

    @include component(primary-header) {
        // position: absolute;
        // width: 100%;

        @include component(title) {
            @include fontSize($font-size-large);
            color: $theme-white;
        }
    }

    @include component(primary-footer) {
        //position: absolute;
    }

    @include component(navigation-container) {
        min-height: calc(100vh - 124px);
    }


    ul {
        position: absolute;
        @include transform(translate(0, -50%));
        top: 50%;
        @include rem-spacing(padding, 0, 30);

        @include component(xicon) {
            @include rem-spacing (margin-right, 6);
        }

        li{
            &:hover{
                a {
                    color: $theme-black;
                }
            }
        }

        a{
            color: $theme-white;
            //font-size: $font-size-medium;
            @include rem-spacing(margin-bottom, 20);
            @include rem-spacing(padding-bottom, 4);
            display: block;
            position: relative;
            //text-transform: uppercase;

            &:after{
                content:'';
                position: absolute;
                bottom: 0;
                left: 0;
                @include size(0%, 2px);
                background: $theme-black;
                @include transition(0.4s);
            }

            &:hover{
                &:after{
                    width: 100%;
                }
            }
        }
    }

    &.nav-active{
        right: 0%;
    }
}