@include component(course-slider) {

	@include component(slick-list) {
		overflow: visible;
	}
	
	@include component(slick-dots) {
		bottom: 0;
	}

	@include component(course-item) {
		width: 260px;
		@include rem-spacing (margin-right, 22);
	}
}