// @font-face {
// 	font-family: 'Trump Gothic East';
// 	src:url('fonts/TrumpGothicEast_bold.ttf') format("truetype"),
// 		url('fonts/TrumpGothicEast_bold.woff2') format("woff2"),
// 		url('fonts/TrumpGothicEast_bold.woff') format("woff");
// 		font-weight:700;
// 		font-style:normal;
// }


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$base-font-family		:   'Montserrat', sans-serif !default;
$heading-font-family	:   'Oswald', sans-serif !default;
$base-line-height		: 	1.5;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.

$base-font-size			: 	14px !default;
$font-size-h1			: 	70px;
$font-size-h2			: 	40px;
$font-size-h3			: 	26px;
$font-size-h4			: 	24px;
$font-size-h5			: 	22px;
$font-size-h6			: 	20px;

$font-size-xsmall		: 	10px;
$font-size-small		: 	12px;
$font-size-medium		: 	16px;
$font-size-large		: 	18px;

$font-weight-xblack		: 	900;
$font-weight-black		: 	800;
$font-weight-bold		: 	700;
$font-weight-semi-bold	: 	600;
$font-weight-medium		: 	500;
$font-weight-normal		: 	400;
$font-weight-light		: 	300;
$font-weight-thin		: 	100;


//== Color Variation
//
//## Text color, Background color, Border color.

$theme-default	: 	#979da0;
$theme-white	: 	#ffffff;
$theme-black	: 	#000000;
$theme-grey		: 	#2c2e35;
$theme-lg-grey	: 	#828282;
$theme-sp-grey	: 	#727f89;
$theme-dk-grey	: 	#22242b;

// Theme Colors
$theme-primary 	: 	#9B8851;
$theme-secondary: 	#25282a;

$theme-red 		: 	#d20028;
$theme-yellow 	: 	#f6be00;
$theme-green 	: 	#00B388;
$theme-purple 	: 	#654EA3;
$theme-orange 	: 	#FF6A39;
$theme-blue 	: 	#0077C8;

$link-color		: 	#979da0;
