$icomoon-font-family: "xicon" !default;
$icomoon-font-path: "fonts" !default;

$icon-dashboard: "\e918";
$icon-link: "\e919";
$icon-unlock: "\e91a";
$icon-user: "\e91b";
$icon-tiktok: "\e900";
$icon-mobile: "\e901";
$icon-arrow_down: "\e902";
$icon-search: "\e903";
$icon-google: "\e904";
$icon-instagram: "\e905";
$icon-youtube: "\e906";
$icon-map_pointer: "\e907";
$icon-phone: "\e908";
$icon-email: "\e909";
$icon-twitter: "\e90a";
$icon-linkedin: "\e90b";
$icon-facebook: "\e90c";
$icon-arrow_up: "\e90d";
$icon-play_btn_round: "\e90e";
$icon-arrow_right: "\e90f";
$icon-arrow_left: "\e910";
$icon-close_circle: "\e911";
$icon-close: "\e912";
$icon-google_square: "\e913";
$icon-linkedin_square: "\e914";
$icon-youtube_square: "\e915";
$icon-twitter_square: "\e916";
$icon-facebook_square: "\e917";
$icon-play_btn: "\ea1c";
$icon-home: "\e91c";
$icon-calendar: "\e953";
$icon-equalizer: "\e992";
$icon-logout: "\ea14";

