@import "xicon-variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?45obs2');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?45obs2#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?45obs2') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?45obs2') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?45obs2##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dashboard {
  &:before {
    content: $icon-dashboard; 
  }
}
.icon-link {
  &:before {
    content: $icon-link; 
  }
}
.icon-unlock {
  &:before {
    content: $icon-unlock; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-tiktok {
  &:before {
    content: $icon-tiktok; 
  }
}
.icon-mobile {
  &:before {
    content: $icon-mobile; 
  }
}
.icon-arrow_down {
  &:before {
    content: $icon-arrow_down; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-google {
  &:before {
    content: $icon-google; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube; 
  }
}
.icon-map_pointer {
  &:before {
    content: $icon-map_pointer; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-email {
  &:before {
    content: $icon-email; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-arrow_up {
  &:before {
    content: $icon-arrow_up; 
  }
}
.icon-play_btn_round {
  &:before {
    content: $icon-play_btn_round; 
  }
}
.icon-arrow_right {
  &:before {
    content: $icon-arrow_right; 
  }
}
.icon-arrow_left {
  &:before {
    content: $icon-arrow_left; 
  }
}
.icon-close_circle {
  &:before {
    content: $icon-close_circle; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-google_square {
  &:before {
    content: $icon-google_square; 
  }
}
.icon-linkedin_square {
  &:before {
    content: $icon-linkedin_square; 
  }
}
.icon-youtube_square {
  &:before {
    content: $icon-youtube_square; 
  }
}
.icon-twitter_square {
  &:before {
    content: $icon-twitter_square; 
  }
}
.icon-facebook_square {
  &:before {
    content: $icon-facebook_square; 
  }
}
.icon-play_btn {
  &:before {
    content: $icon-play_btn; 
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-equalizer {
  &:before {
    content: $icon-equalizer; 
  }
}
.icon-logout {
  &:before {
    content: $icon-logout; 
  }
}

